html{
	margin: 0;
}
body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h4, h5{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #121212; 
}
p2{
    color: rgb(87, 150, 150);
}
p3{
    font-size: 25px;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: #d3f1b1;
    padding: 20px 10px;
  }
  
  .wrap-logo {
    display: flex;
    align-items: center;
  }
  header a {
    color: #212121;
    padding: 12px;
    text-decoration: none;
    font-size: 18px; 
    border-radius: 4px;
  }
  
  header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  header a:hover {
    background-color: #b0e6b0;
    color: #212121;
  }
  
  header a.active {
    background-color: #d3e0a3;
  }
.box{
    color: #0e2020;
    width: 65em;
    overflow-wrap: normal;
    display: block;
    margin: 0 auto;
}
.item{
    height: 94%;
    width: 94%;
    display: block;
    margin: 0 auto;
    background-color: #ffe5d4;
    height: max-content;
    font-size: 25px;
    box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
}
table {
    border-collapse: collapse; 
    line-height: 1.1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:  radial-gradient(farthest-corner at 50% 50%, white, #edf5d9);
    color: #0C213B;
}
th {
    padding: 10px; 
    border: 1px solid #d6e2a9;
}
td {
    font-size: 0.8em;
    padding: 5px 7px;
    border: 1px solid #d6e2a9;
}
img{
    display: block;
    margin: 0 auto;
    padding: 11px;
}
.child{
    margin-left: 7px;
    margin-right: 4px;
}
table{
    margin-right: 7px;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";

  }
  
  .panel {
    padding: 0 18px;
    background-color: rgb(241, 241, 223);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
