body,
html {
font-family: Verdana, Geneva, Tahoma, sans-serif;
margin: 0;
padding: 0;
height: 100%;
font: 36px/1.6 Open Sans, serif;
}
article {
  overflow-x: hidden;
  height: 100vh;
  max-height: 100%;
  -webkit-perspective: 1px;
  perspective: 1px;
  -webkit-perspective-origin: center top;
  perspective-origin: center top;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}
 
header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
  -webkit-transform-origin: center top;
  -ms-transform-origin: center top;
  transform-origin: center top;
  vertical-align: top;
  background: url(img/40.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 0 20px;
  text-align: center;
}
 
header p {
  font-size: 1em;
  margin: 0;
  color: rgb(255, 217, 217);   
}
 
h1 {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
  padding: 0 20px;
  text-align: center;
  color: white;
}
 
a {
  text-decoration: none;
  color: rgb(255, 217, 217);
}
 
.box {
  min-height: 200vh;
  max-width: 1024px;
  margin: 0 auto;
  padding: 50px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
/*  */
h4, h5{
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    color: #121212; 
}
p2{
    color: rgb(87, 150, 150);
}
p3{
    font-size: 25px;
}
img{
    width: 700px;
}
.box{
    color: #0e2020;
    width: 65em;
    overflow-wrap: normal;
    display: block;
    margin: 0 auto;
}
.item{
    height: 100%;
    width: 100%;
    display: block;
    margin: 0 auto;
    background-color: #f8f4f1;
    height: max-content;
    font-size: 22px;
    box-shadow: rgba(0,0,0,0.5) 0px 1px 3px;
}
table {
    border-collapse: collapse; 
    line-height: 1.1;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background:  radial-gradient(farthest-corner at 50% 50%, white, #edf5d9);
    color: #0C213B;
}
th {
    padding: 10px; 
    border: 1px solid #d6e2a9;
}
td {
    font-size: 0.8em;
    padding: 5px 7px;
    border: 1px solid #d6e2a9;
}
img{
    display: block;
    margin: 0 auto;
    padding: 11px;
}
.child{
    margin-left: 8px;
    margin-right: 4px;
}
table{
    margin-right: 7px;
}
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";

  }
  
  .panel {
    padding: 0 18px;
    background-color: rgb(241, 241, 223);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
